.site-head {
  position: relative;
  padding: 2.1rem 0;
  z-index: 1;

  & :focus {
    outline-color: rgb(0, 195, 255);
  }

  &__brand {
    font-size: 2.2rem;
    color: var(--color-logo);
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 0 1rem;
  }
}
