.hero {
  height: 100%;
  position: relative;
  z-index: 0;

  &__shape {
    position: absolute;
    top: 11rem;
    right: 0;
    width: 90rem;
    height: 70rem;
    background: #fff;
    border-top-left-radius: 50%;
    z-index: -1;

    @media (max-width: 50em) {
      display: none;
    }
  }
  &__title {
    padding: 4.5rem 0 8rem;
  }
}
