.hero {
  background: url(../images/naujienos/chris-barbalis-696423-unsplash.png);
  background-size: cover;
  background-position: center;
  min-height: 300px;
  width: 300px;
  border: 3px solid black;
}

.fancy-link__icon {
  font-size: 2em;
}

/* Set the width and height to be 1em, which
     will be the font-size of its parent element */
.icon {
  width: 1em;
  height: 1em;
  fill: currentColor;
  fill-rule: nonzero;
}
