.btn-wrapper {
  display: flex;
  justify-content: center;
}

button {
  font-family: var(--font-secondary);
  font-size: 2rem;
  letter-spacing: 2px;
  padding: 18px 36px;
  text-transform: uppercase;
  border: 2px solid #000;
  position: relative;
  z-index: 1;
  overflow: hidden;
  line-height: 1;
  border-radius: 100px 100px;
  cursor: pointer;
}

.button-news {
  margin: 5rem 0px;

  background: var(--color-dark-grey);
  color: var(--color-light);
  transition: all 0.2s;

  &:hover {
    background: var(--color-dark-grey-1);
    color: var(--color-dark-grey);
  }

  @media (max-width: 37.5em) {
    margin-top: 2rem;
    font-size: 1.6rem;
  }
}

.news-icon {
  fill: var(--color-light);

  &:hover {
    fill: var(--color-dark-grey);
  }
}
