.u-font-secondary {
  font-family: var(--font-secondary);
}

.u-bg-light {
  background: var(--color-light);
}
.u-bg-blue {
  background: var(--light-blue);
}
.u-bg-dark-accent {
  background-color: var(--dark-accent);
}

.u-bg-blue-gradient {
  background: var(--blue-gradient-1);
}

.u-sticky {
  position: sticky;
  top: 0;
}

.temp-h {
  display: grid;
  place-items: center;
  height: 50rem;
  border: 2px solid rgb(131, 131, 131);
  margin: 2rem 0;
}

.container {
  margin-inline: auto;
  width: min(90%, 135.1rem);
}
