.u-font-secondary {
    font-family: var(--font-secondary);
}

.u-bg-light {
    background:var(--color-light);
}
.u-bg-blue {
    background:var(--light-blue);
}

.u-sticky {
    position:sticky;
    top: 0;
    
}
