.hero {
    background: url(../images/pic-2.png);
    background-size: cover;
    background-position: center;
    min-height: 300px;
    width: 300px;
    border: 3px solid black;
}

.svg-section {
    background: url(../images/svg/icon.svg);
    background-size: cover;
    background-position: center;
    min-height: 20px;
    width: 20px;
}