html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-base);
  color: var(--color-font-base);
  background: var(--color-light);
  font-size: 1.6rem;
}

section, article,
main {
  // min-height: 100vh;
  width: 100%;
  // overflow-y:auto; 
}

section {
  padding: 2rem 0;
  margin: 2rem 0;
}